:root
{
    --shadow-colour: #231f20;
    --highlight-colour: #f2f2f2;
}

html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.heavy-button
{
    background-color: white;

    border-radius: 20px;
    border: 5px solid var(--shadow-colour);
    box-shadow: 0em 5px #231f20;

    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: var(--shadow-colour);

    padding: 0.25em 2em;

    transition-duration: 0.2s;

    user-select: none;
}

.heavy-button:hover
{
    background-color: var(--highlight-colour);
    box-shadow: 0em 0em;

    transform: translateY(5px);
}

.heavy-button:focus
{
    outline: 0
}

.title
{
    text-overflow: clip;
    white-space: nowrap;

    font-size: 3.5em;
    font-family: 'Poppins';
    color: var(--shadow-colour);

    user-select: none;
}

.title-reversed
{
    color: white;
}

.title-reversed::after
{
    color: var(--shadow-colour);
    content: attr(data-text);

    position: absolute;
    transform: translateX(-100%);

    -webkit-text-stroke: 15px var(--shadow-colour);
    z-index: -2;
}

#home-body
{
    width: 100%;
    height: 100%;

    position: relative;
}

#home-logo
{
    margin: 0;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#home-button
{
    margin: 5% 0;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, calc(-150% + 3.5em));
}

/* explicitely redefined this behaviour from .heavy-button:hover */
#home-button:hover
{
    transform: translate(-50%, calc(-150% + 3.5em + 5px));
}

#survey-body
{
    width: 100%;
    height: 100%;

    position: relative;
}

#survey-title
{
    margin: 0;
    position: absolute;

    left: 50%;

    transform: translate(-50%, 0%);
}

#survey-subtitle
{
    margin: 0;
    position: absolute;

    bottom: 3.25%;
    right: calc(5% + 8.5em);

    text-align: right;
    font-size: 2em;

    z-index: 1;
}

#survey-button
{
    position: absolute;

    bottom: 2.5%;
    right: 5%;

    z-index: 1;
}

#survey-list
{
    position: absolute;
    width: 100%;
    height: calc(100% - 10em);

    top: 5.5em;
    padding: 5px 0% 5px 2.5%;

    background-color: white;

    overflow: scroll;

    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.survey-list-item
{
    width: 90%;
    height: 2em;

    position: relative;
    display: block;
    margin: 10px;

    background-color: white;

    border: 3px solid var(--highlight-colour);
    border-radius: 0.5em;
    box-shadow: 0em 3px var(--highlight-colour);

    line-height: 2em;
    padding-left: 0.5em;

    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--shadow-colour);

    user-select: none;
    cursor: grab;
}

.survey-list-drag-icon
{
    color: var(--highlight-colour);

    width: 25px;
    transform: translate(-12.5px, 4.5px);

    margin-right: -10px;
}