:root
{
    --shadow-colour-primary: #231f20;
    --bg-colour: white;
}

.button
{
    background-color: var(--bg-colour);
    padding: 10% 100%;

    border: 1% solid var(--shadow-colour-primary);
    border-radius: 20%;
    box-shadow: 0px 1% var(--shadow-colour-primary);

    font-size: 100%;
    text-align: center;
    font-family: 'Source Sans Pro';
    color: var(--shadow-colour-primary);
}